/* Bannière */

body {
    font-family: 'K2D';
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

.banniere {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url('https://i88.servimg.com/u/f88/18/85/03/67/darek-10.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: filter 5s ease;
}

.banniere:hover {
    filter: brightness(1.2);
}

.banniere .main-title {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 20%;
    font-family: 'Dancing Script', cursive;
    color: #FCFAE0;
    font-size: 8vw;
    line-height: 8vw;
    text-align: center;
}

.banniere .second-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
    color: azure;
    text-align: center;
}

.banniere .descriptions {
    font-family: 'K2D';
    color: azure;
    margin-top: -20px;
}

.CTA {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.CTA button {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    width: 200px;
    border-width: 3px;
    border-radius: 50% 50% 50% 50% / 30% 70% 30% 70%;
    background-color: #E91C1C;
    font-size: 1.3em;
    color: azure;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 1s ease;
}

.CTA button:hover {
    background-color: #000000;
    color: #FCFAE0;
  }