{JAVASCRIPT}    
    <section id="PA" class="PA">
                    <img src="http://www.image-heberg.fr/files/16939243541082414508.png" alt="Image de la PA" class="image-deesse">
                    <div class="derniers-messages">
                      <iframe name="affichage-derniers-RP" src="https://ficexmachina.forumactif.com/h4-affichage-derniers-rp" width="320px" height="220px" ></iframe>
                    </div>
                    <img class="discord" src="https://i.servimg.com/u/f88/18/85/03/67/discor11.png">
                    <div class="staff">
                      
                      <div class="container">
                      <div class="image-container">
                          <div class="image-row">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/03a63c10.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/a5292c10.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/5c184a10.jpg" onclick="showAdditionalImage(this)">
                          </div>
                          <div class="image-row">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/ee10b910.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/c3625310.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/papill11.png" onclick="showAdditionalImage(this)">
                          </div>
                          </div>
                          <div class="additional-image" id="additionalImage">
                              <h2>STAFF</h2>
                          </div>
                      </div>
                  </div> 
                  </section>


{CHATBOX_TOP}

{BOARD_INDEX}
                      
<footer class="footer">
          <div class="conteneur-footer-general">
            <div class="column-footer-groupes">
              <h1>Quatre factions</h1>
              <img src="https://i.servimg.com/u/f36/20/47/50/10/5e42c210.jpg" alt="Conciliants">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/52ebde11.jpg" alt="Vengeurs">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/e2110.jpg" alt="Héros">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/e18db810.jpg" alt="Indépendants">
            </div>
            <div class="column-membres">
              <h2><strong><span class="FORUMCOUNTUSER"></span></strong> destinées</h2>
              <h2><strong><span class="FORUMCOUNTOPIC"></span></strong> aventures</h2>
              <h2><strong><span class="FORUMCOUNTPOST"></span></strong> expériences</h2>
              
              <h1>Les destinées dormantes</h1>
              <div class="box-derniers-connectes">
                {L_CONNECTED_MEMBERS}
              </div>
              <br style="word-wrap: break-word;"> <h2>{L_WHOSBIRTHDAY_TODAY}</h2></br>
            </div>
            <div class="column-dernier-inscrit"><h1>La dernière destinée</h1>
              <img src="https://i.servimg.com/u/f36/20/47/50/10/d9878a10.jpg" alt="Image dernier inscrit">
              <h1 class="titre-box-connectes">Les destinées éveillées</h1>
              <div class="box-connectes">
                {TOTAL_USERS_ONLINE}
                {LOGGED_IN_USER_LIST}
              </div>
            
            </div>
            
          </div>
          <a href="https://ficexmachina.forumactif.com/t32-six-deesses" ><img src="http://www.image-heberg.fr/files/16905890291508024053.png" alt="Image du footer" class="background-image"></a>
          
        </footer>