{JAVASCRIPT}    
    <section id="PA" class="PA">
        <div class="top">
            <div class="left">
                <h2 class="descriptions">ANNONCES</h2>
                <div class="box">
                    <ul>
                        <li>Item 1 blablabla blablabla blablabla</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                        <li>Item 3</li>
                    </ul>
                </div>
            </div>
            <div class="center">
            <h2 class="descriptions">DERNIERS MESSAGES</h2>
                <div class="box">
                    <ul>
                        <li>Item A</li>
                        <li>Item B</li>
                        <li>Item 1 blablabla blablabla blablabla</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item C</li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <img class="discord" src="https://i88.servimg.com/u/f88/18/85/03/67/discor11.png">
                <div class="container">
                <div class="image-container">
                    <div class="image-row">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/03a63c10.jpg" onclick="showAdditionalImage(this)">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/a5292c10.jpg" onclick="showAdditionalImage(this)">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/5c184a10.jpg" onclick="showAdditionalImage(this)">
                    </div>
                    <div class="image-row">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/ee10b910.jpg" onclick="showAdditionalImage(this)">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/c3625310.jpg" onclick="showAdditionalImage(this)">
                        <img src="https://i88.servimg.com/u/f88/18/85/03/67/papill11.png" onclick="showAdditionalImage(this)">
                    </div>
                    </div>
                    <div class="additional-image" id="additionalImage">
                        <h2>STAFF</h2>
                    </div>
                </div>
            </div>
        </div>
        <aside class="bottom">
            <div class="container">
                    <h2 class="descriptions">PARTENAIRES</h2>
                </div>
                <div class="image-container">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                    <img class="image" src="https://www.zupimages.net/up/21/31/o3r2.png" alt="Image">
                </div>
        </aside>
    </section>


{CHATBOX_TOP}

{BOARD_INDEX}

<!-- BEGIN disable_viewonline -->
	<div class="block">
		<!-- BEGIN switch_viewonline_link -->
			<div class="h3"><a href="{U_VIEWONLINE}" rel="nofollow"><i class="ion-stats-bars"></i>{L_WHO_IS_ONLINE}</a></div>
		<!-- END switch_viewonline_link -->

		<!-- BEGIN switch_viewonline_nolink -->
			<div class="h3"><i class="ion-stats-bars"></i>{L_WHO_IS_ONLINE}</div>
		<!-- END switch_viewonline_nolink -->

		{TOTAL_USERS_ONLINE}<br />
		{RECORD_USERS}

		{LOGGED_IN_USER_LIST}

		{L_ONLINE_USERS}
		{L_CONNECTED_MEMBERS}<br />

		{L_WHOSBIRTHDAY_TODAY}{L_WHOSBIRTHDAY_WEEK}

		<!-- BEGIN switch_group_legend -->
		<div class="block-footer"><strong>{LEGEND}:</strong>&nbsp;{GROUP_LEGEND}</div>
		<!-- END switch_group_legend -->
	</div>

	<!-- BEGIN switch_chatbox_activate -->
		<div class="block">
			<div class="h3">
				<a href="{S_JOIN_CHAT}" target="ChatBox"><i class="ion-ios-chatboxes-outline"></i>{CHATBOX_NAME}</a>
				<!-- BEGIN switch_chatbox_popup -->
					<div id="chatbox_popup"></div>
					<script type="text/javascript">
						insertChatBoxPopup('{disable_viewonline.switch_chatbox_activate.switch_chatbox_popup.U_FRAME_CHATBOX}', '{L_CLICK_TO_JOIN_CHAT}');
					</script>
				<!-- END switch_chatbox_popup -->
			</div>
			{TOTAL_CHATTERS_ONLINE}:&nbsp;{CHATTERS_LIST}
		</div>
	<!-- END switch_chatbox_activate -->
<!-- END disable_viewonline -->

{CHATBOX_BOTTOM}

<!-- BEGIN switch_user_login_form_footer -->
<div class="panel">
	<form action="{S_LOGIN_ACTION}" method="post" name="form_login">
		<div class="user_login_form center">
			<input placeholder="{L_USERNAME}" class="inputbox fl_username" type="text" size="10" name="username" />
			<input placeholder="{L_PASSWORD}" class="inputbox fl_password" type="password" size="10" name="password" />
			<br />
			<label>{L_AUTO_LOGIN}: <input class="radio" type="checkbox" name="autologin" {AUTOLOGIN_CHECKED} /></label>
			{S_HIDDEN_FIELDS}<input class="mainoption button1" type="submit" name="login" value="{L_LOGIN}" />
			<!-- BEGIN switch_social_login -->
            <div class="social_btn">
                <!-- BEGIN fb_connect -->
                <div class="fb-login-button"></div>
                <!-- END fb_connect -->
                <!-- BEGIN topicit_connect -->
                <div class="ti-connect"></div>
                <!-- END topicit_connect -->
            </div>
            <!-- END switch_social_login -->
		</div>
	</form>
</div>
<!-- END switch_user_login_form_footer -->

<!-- BEGIN switch_legend -->
<ul id="picture_legend">
	<li><img src="{FORUM_NEW_IMG}" alt="{L_NEW_POSTS}" loading="lazy" />{L_NEW_POSTS}</li>
	<li><img src="{FORUM_IMG}" alt="{L_NO_NEW_POSTS}" loading="lazy" />{L_NO_NEW_POSTS}</li>
	<li><img src="{FORUM_LOCKED_IMG}" alt="{L_FORUM_LOCKED}" loading="lazy" />{L_FORUM_LOCKED}</li>
</ul>
<!-- END switch_legend -->

{AUTO_DST}