{JAVASCRIPT}    
    <section id="PA" class="PA">
                    <img src="http://www.image-heberg.fr/files/16939243541082414508.png" alt="Image de la PA" class="image-deesse">
                    <div class="derniers-messages">
                      <iframe name="affichage-derniers-RP" src="https://ficexmachina.forumactif.com/h4-affichage-derniers-rp" width="320px" height="220px" ></iframe>
                    </div>
                    <img class="discord" src="https://i.servimg.com/u/f88/18/85/03/67/discor11.png">
                    <div class="staff">
                      
                      <div class="container">
                      <div class="image-container">
                          <div class="image-row">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/03a63c10.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/a5292c10.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/5c184a10.jpg" onclick="showAdditionalImage(this)">
                          </div>
                          <div class="image-row">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/ee10b910.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/c3625310.jpg" onclick="showAdditionalImage(this)">
                              <img src="https://i.servimg.com/u/f88/18/85/03/67/papill11.png" onclick="showAdditionalImage(this)">
                          </div>
                          </div>
                          <div class="additional-image" id="additionalImage">
                              <h2>STAFF</h2>
                          </div>
                      </div>
                  </div> 
                  </section>

<main>
  <div class="container-navigation">
      <nav class="navigation-left">
          <h2>VOTEZ !</h2>
          <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-110.png">
          <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-210.png">
          <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-310.png">
          <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-410.png">
      </nav>                          
                                
{BOARD_INDEX}
            
<nav class="navigation-right">
    <h2>NAVIGATION</h2>
    <ul>
      <li>
        <a href="https://ficexmachina.forumactif.com/?mark=forums">
                <p>Clear</p>
              </a>
            </li>
      <li>
        <a href="https://ficexmachina.forumactif.com/statistics">
                <p>Statistiques</p>
              </a>
            </li>
      <a href="#PA"><li>
        <p>Accueil</p>
      </li></a>
      <a href="#c1"><li>
        <p>Commencer</p>
      </li></a>
      <a href="#c2"><li>
        <p>Fiches</p>
      </li></a>
      <a href="#c3"><li>
        <p>Zone RP</p>
      </li></a>
      <a href="#c5"><li>
        <p>Communauté</p>
      </li></a>
    </ul>
</nav>    
</div>

</main>
        
<footer class="footer">
          <div class="conteneur-footer-general">
            <div class="column-footer-groupes">
              <h1>Quatre factions</h1>
              <img src="https://i.servimg.com/u/f36/20/47/50/10/5e42c210.jpg" alt="Conciliants">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/52ebde11.jpg" alt="Vengeurs">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/e2110.jpg" alt="Héros">
              <img src="https://i.servimg.com/u/f36/20/47/50/10/e18db810.jpg" alt="Indépendants">
            </div>
            <div class="column-membres">
              <h2><span class="FORUMCOUNTUSER"></span> destinées</h2>
              <h2><span class="FORUMCOUNTOPIC"></span> aventures</h2>
              <h2><span class="FORUMCOUNTPOST"></span> expériences</h2>
              
              <h1>Les destinées dormantes</h1>
              <div class="box-derniers-connectes">
                {L_CONNECTED_MEMBERS}
              </div>
              <br style="word-wrap: break-word;"> <h2>{L_WHOSBIRTHDAY_TODAY}</h2></br>
            </div>
            <div class="column-dernier-inscrit"><h1>La dernière destinée</h1>
              <div id="avatar_dernier_membre"></div>
              <div id="dernier_membre"><h2>{NEWEST_USER}</h2></div>
              <h1 class="titre-box-connectes">Les destinées éveillées</h1>
              <div class="box-connectes">
                {TOTAL_USERS_ONLINE}
                {LOGGED_IN_USER_LIST}
              </div>
            
            </div>
            
          </div>
          <a href="https://ficexmachina.forumactif.com/t32-six-deesses" ><img src="http://www.image-heberg.fr/files/16905890291508024053.png" alt="Image du footer" class="background-image"></a>
          
        </footer>               
                
<script type="text/javascript" src="https://js01.fra.co/24922.js"></script>