<main>
    <div class="container-navigation">
        <nav class="navigation-left">
            <h2>VOTEZ !</h2>
            <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-110.png">
            <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-210.png">
            <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-310.png">
            <img src="https://i.servimg.com/u/f36/20/47/50/10/ts-410.png">
        </nav>

<div class="main-content">

<div class="navi" cellspacing="0" cellpadding="0" border="0" align="{MENU_POSITION}">{GENERATED_NAV_BAR}</div>


<!-- BEGIN catrow -->
<!-- BEGIN tablehead -->

  
<div class="forabg">
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dd class="dterm"><div class="table-title">{catrow.tablehead.L_FORUM}</div></dd>
            </dl>
        </li>
    </ul>
    <ul class="topiclist forums">
      
<!-- END tablehead -->

<!-- BEGIN forumrow -->
        <li class="row">
                <dd class="dterm">
                    <div style="display: block; margin : 0 {catrow.forumrow.INC_LEVEL_RIGHT} 0 {catrow.forumrow.INC_LEVEL_LEFT};">
                        <h{catrow.forumrow.LEVEL} class="hierarchy">
                        <a href="{catrow.forumrow.U_VIEWFORUM}" class="forumtitle">{catrow.forumrow.FORUM_NAME}</a>
                        </h{catrow.forumrow.LEVEL}>
                        {catrow.forumrow.FORUM_DESC}

                        <strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}
                    </div>
                </dd>
                <dd class="lastpost">

                    
                    <!-- BEGIN avatar -->
                    <span class="lastpost-avatar">{catrow.forumrow.avatar.LAST_POST_AVATAR}</span>
                    <!-- END avatar -->

                    <span class="lastpost-infos">
                    <!-- BEGIN switch_topic_title -->
                    <a href="{catrow.forumrow.U_LATEST_TOPIC}" title="{catrow.forumrow.LATEST_TOPIC_TITLE}">{catrow.forumrow.LATEST_TOPIC_NAME}</a><br />
                    <!-- END switch_topic_title -->
                    {catrow.forumrow.USER_LAST_POST}
                    </span>
                </dd>
            </dl>
        </li>
<!-- END forumrow -->

<!-- BEGIN tablefoot -->
        </ul>
</div>
<!-- END tablefoot -->
<!-- END catrow -->

 </div>       
              
          
          
<nav class="navigation-right">
      <h2>NAVIGATION</h2>
      <ul>
        <li>
            <a href="https://ficexmachina.forumactif.com">
            <p>Accueil</p>
          </a>
        </li>
        <li>
            <a href="https://ficexmachina.forumactif.com/memberlist">
            <p>Membres</p>
          </a>
        </li>
        <li>
          <a href="https://ficexmachina.forumactif.com/?mark=forums">
                  <p>Clear</p>
                </a>
              </li>
        <li>
          <a href="https://ficexmachina.forumactif.com/statistics">
                  <p>Statistiques</p>
                </a>
              </li>
        <a href="#PA"><li>
          <p>PA</p>
        </li></a>
        <a href="#commencer"><li>
          <p>Commencer</p>
        </li></a>
        <a href="#fiches"><li>
          <p>Fiches</p>
        </li></a>
        <a href="#RP"><li>
          <p>Zone RP</p>
        </li></a>
        <a href="#commu"><li>
          <p>Communauté</p>
        </li></a>
      </ul>
  </nav>    
</div>

</main>

<script type="text/javascript">
//<![CDATA[
  
$(document).ready(function() {
var btn_collapse = $('<div></div>', {
class: 'btn-collapse'
});

var btn_collapse_show = $('<i></i>', {
class: 'ion-android-add-circle hidden',
'data-tooltip': '{L_EXPEND_CAT}'
}).appendTo(btn_collapse);

var btn_collapse_hide = $('<i></i>', {
class: 'ion-android-remove-circle',
'data-tooltip': '{L_HIDE_CAT}'
}).appendTo(btn_collapse);

var collapsed = [];

if (readCookie('collapsed') != null && readCookie('collapsed') != '') {
collapsed = readCookie('collapsed').split(',');
}

$(document).on('click', '.btn-collapse', function() {
$(this).children('.ion-android-add-circle').toggleClass('hidden');
$(this).children('.ion-android-remove-circle').toggleClass('hidden');
$(this).parents('.forabg').toggleClass('hidden');

if (readCookie('collapsed') != null && readCookie('collapsed') != '') {
    collapsed = readCookie('collapsed').split(',');
}

if (!$(this).parents('.forabg').hasClass('hidden')) {
    removeFromArray('' + $(this).parents('.forabg').data('cindex'), collapsed);

    createCookie('collapsed', collapsed);
} else {
    collapsed.push('' + $(this).parents('.forabg').data('cindex'));

    createCookie('collapsed', collapsed);
}
});

$('.forabg').each(function(i) {
$(this).data('cindex', '' + i);

$(btn_collapse)
    .clone()
    .attr('id', 'forabg' + i)
    .appendTo($(this).find('.header'));

if ($.inArray('' + i, collapsed) > -1) {
    $(this).toggleClass('hidden');
    $('#forabg' + i).children('.ion-android-add-circle').toggleClass('hidden');
    $('#forabg' + i).children('.ion-android-remove-circle').toggleClass('hidden');
}
});
});

function removeFromArray(item, array) {
var i = array.indexOf(item);

if (i > -1) {
array = array.splice(i, 1);
}
}

function createCookie(name, value, days) {
var expires;

if (days) {
var date = new Date();
date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
expires = "; expires=" + date.toGMTString();
} else {
expires = "";
}
document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
}

function readCookie(name) {
var nameEQ = encodeURIComponent(name) + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) === ' ') c = c.substring(1, c.length);
if (c.indexOf(nameEQ) === 0) return decodeURIComponent(c.substring(nameEQ.length, c.length));
}
return null;
}

afficherImage("image_presentation", ".cellule_presentation");
afficherImage("image_pouvoir", ".cellule_combat");

var factionData = {
"id-en-cours": {
presentationUrl: "https://i.servimg.com/u/f88/18/85/03/67/1e141c10.jpg",
combatUrl: "https://forum.xboxera.com/uploads/default/original/2X/7/709bd43b30ff1da6cf523b420b01b417bd2f9a11.gif",
presentationAvatar: "https://i.servimg.com/u/f36/20/47/50/10/cesar_11.jpg",
combatAvatar: "https://i.servimg.com/u/f36/20/47/50/10/b5357410.jpg",
backgroundPosition: "center 60%"
},
"id-faction-1": {
presentationUrl: "https://i.servimg.com/u/f88/18/85/03/67/5e42c212.jpg",
combatUrl: "https://media.tenor.com/T1wrE0tbgjwAAAAd/soraka-healbank.gif",
presentationAvatar: "https://i.servimg.com/u/f36/20/47/50/10/julian11.jpg",
combatAvatar: "https://i.servimg.com/u/f36/20/47/50/10/84174310.jpg",
backgroundPosition: "center 20%"
},
"id-faction-2": {
presentationUrl: "https://i.servimg.com/u/f36/20/47/50/10/52ebde10.png",
combatUrl: "https://media.tenor.com/6EQy-Mczv0gAAAAC/swain-lol.gif",
presentationAvatar: "https://i.servimg.com/u/f36/20/47/50/10/a443d110.jpg",
combatAvatar: "https://i.servimg.com/u/f36/20/47/50/10/8406dc10.jpg",
backgroundPosition: "center 20%"
},
"id-faction-3": {
presentationUrl: "https://i.servimg.com/u/f36/20/47/50/10/e211010.png",
combatUrl: "https://64.media.tumblr.com/9ed8f2687c5f79344844d4d2b92f9776/88fd5a8036642eca-f2/s540x810/933fb6be6595f2dac79c5c3e3829b9734c85e70f.gif",
presentationAvatar: "https://i.servimg.com/u/f36/20/47/50/10/19b73010.jpg",
combatAvatar: "https://i.servimg.com/u/f36/20/47/50/10/thomas11.jpg",
backgroundPosition: "center 20%"
},
"id-faction-4": {
presentationUrl: "https://i.servimg.com/u/f36/20/47/50/10/e18db810.png",
combatUrl: "https://i.redd.it/jduoixesyfw51.gif",
presentationAvatar: "https://i.servimg.com/u/f36/20/47/50/10/62876610.jpg",
combatAvatar: "https://i.servimg.com/u/f36/20/47/50/10/45be9210.jpg",
backgroundPosition: "center 20%"
}
};

var selectionCells = document.querySelectorAll("#id-en-cours, #id-faction-1, #id-faction-2, #id-faction-3, #id-faction-4");

function updateCells(faction) {
var presentationCell = document.querySelector(".cellule_presentation");
var combatCell = document.querySelector(".cellule_combat");

presentationCell.setAttribute("data-background-url", faction.presentationUrl);
presentationCell.setAttribute("data-image-url", faction.presentationAvatar);
presentationCell.style.backgroundImage = "url('" + faction.presentationUrl + "')";
presentationCell.style.backgroundPosition = faction.backgroundPosition;
presentationCell.style.opacity = "1";
document.getElementById("image_presentation").src = faction.presentationAvatar;

combatCell.setAttribute("data-background-url", faction.combatUrl);
combatCell.setAttribute("data-image-url", faction.combatAvatar);
combatCell.style.backgroundImage = "url('" + faction.combatUrl + "')";
combatCell.style.backgroundPosition = "top right";
combatCell.style.opacity = "1";
document.getElementById("image_pouvoir").src = faction.combatAvatar;
}

selectionCells.forEach(function(cell) {
cell.addEventListener("click", function() {
var faction = factionData[this.id];
updateCells(faction);
});
});



//]]>
</script>