{BOARD_INDEX}

<div class="fil-sub-header">
	<div class="sub-header-info">
		<div class="sub-header-path">
			<a class="nav" href="{U_INDEX}"><span>{L_INDEX}</span></a>
			{NAV_CAT_DESC}
		</div>
	</div>

	<div class="fil-sub-header-buttons">
		<div class="search-box">
			<form method="get" id="forum-search" action="{S_SEARCHBOX_ACTION}">
				<input class="inputbox search tiny" type="text" name="search_keywords" id="search_keywords" size="20" value="{L_SEARCH}" onclick="if (this.value == '{L_SEARCH}') this.value = '';" onblur="if (this.value == '') this.value = '{L_SEARCH}';" />
				<button type="submit"><i class="ion-android-search"></i></button>
				<input type="hidden" value="{SEARCH_WHERE}" name="search_where" />
			</form>
		</div>
	</div>
 	 <!-- BEGIN switch_user_authpost -->
  <div class="fil-button-forum">
    <a href="{U_POST_NEW_TOPIC}" accesskey="n" rel="nofollow" {S_POST_NEW_TOPIC} title="{T_POST_NEW_TOPIC}" class="ion-{I_POST_NEW_TOPIC} button1">{L_POST_NEW_TOPIC}</a>
  </div>
	<!-- END switch_user_authpost -->
</div>

<!-- BEGIN switch_forum_desc -->
<div id="page-desc" class="block">
	<div class="page-desc-content">
		<div>{SINGLE_FORUM_DESC}</div>
	</div>
</div>
<!-- END switch_forum_desc -->

{TOPICS_LIST_BOX}

{LOGGED_IN_USER_LIST}
<br>

<div id="info_open" style="display: block; clear: both;">
	<div class="block">
		<div class="h3">{L_TABS_PERMISSIONS}</div>
		<p>{S_AUTH_LIST}</p>
	</div>
</div>